@font-face {
    font-family: 'TTLakes';
    font-style: normal;
    font-weight: normal;
    src: local('TTLakes-regular'),
    url('./assets/fonts/TTLakes-Regular.ttf'),
}

@font-face {
    font-family: 'TTLakes';
    font-style: bold;
    src: local('TTLakes-Bold')
    ('./assets/fonts/TTLakes-Bold.ttf');
}



body {
    min-width: 320px;
    height: 1024px;
}

.head {
    display: flexbox;
    margin-bottom: 50px;
    margin-left: 15px;
}

.burger-button {
    background: url(./assets/img/burger.svg);
    padding: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin-right: 10px;
}

.burger-button:hover {
    filter: saturate(490%);
    transition: 0.5s;
}

.logo {
    margin-right: 80px;
    position: relative;
    top: 5px;
}

.search-button {
    background: url(./assets/img/search.svg);
    padding: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
}

.search-button:hover {
    filter: saturate(490%);
    transition: 0.5s;
}

.main {
    margin-bottom: 200px;
}

.list {
    list-style: none;
    padding: 0;
}

.list a {
    text-decoration: none;
    color: black;
}

.list li {
    margin-bottom: 25px;
    margin-left: 15px;

}

li:hover {
    opacity: 0.5;
}

.list li a:hover::before {
    float:left;
    content: url(./assets/img/highlight.svg);
    position: relative;
    right: 23px;
    top: -7px;
    margin-right: -10px;
}

.footer {
    margin-left: 15px;
}

.call-button {
    background: url(./assets/img/call.svg);
    padding: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
    margin-right: 10px;
}

.call-button:hover {
    filter: saturate(490%);
    transition: 0.5s;
}


.chat-button {
    background: url(./assets/img/chat.svg);
    padding: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
    margin-right: 10px;
}

.chat-button:hover {
    filter: saturate(490%);
    transition: 0.5s;
}


.profile-button {
    background: url(./assets/img/profile.svg);
    padding: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
    margin-bottom: 20px;
}

.profile-button:hover {
    filter: saturate(490%);
    transition: 0.5s;
}


.mail-footer {
    text-decoration: none;
    color: black;
    font-family: ttlakes;
    display: block;
    margin-bottom: 10px;
}

.tel-footer {
    text-decoration: none;
    color: black;
    font-family: ttlakes;
    font-size: 24px;
    font-weight: 900;
    display: block;
    margin-bottom: 30px;
}

.footer-button {
    text-decoration: none;
    color: black;
    font-family: ttlakes;
    font-weight: 500;
}

.rus {
    opacity: 0.5;
}